
<div class="clearfix mxn2">
  
  <div class="col sm-col-9 px2">
    <h3 class="mb2">About me</h3>
    <p>
      I am a senior data science developer and team lead with a domain knowledge of control system design. My duties mostly revolves around designing and developing end to end data science solutions to embedded systems where there are hard real time constraints and limited computing power. I also greatly enjoy reading and researching on social psychology and on positive psychology. I plan to write blog posts both on my professional domain, data science, as well as my amateur hobby, (positive and social) psychology. 
      <img src="assets/img/blog/cevre/heart.jpg" width="400px">
    </p>
  </div>
  <div class="col sm-col-3 px2">
    <h3 class="mb2">Contact</h3>
    {% include contact.html %}
  </div>
  
  <div class="col sm-col-5 px2">
        <h3 class="mb2"></h3>

</div>
</div>